<!-- <h1>tasks#edit</h1>
<p>Find me in app/views/edit/new.html.erb</p> -->
<h1 class="text-center text-white">TODO modify</h1>
  <%= form_for @task do |f| %>
    <div class="form-group">
      <%= f.label :title, class: "text-white" %>
      <%= f.text_field :title %>
    </div>

    <div class="form-group">
      <%= f.label :note, class: "text-white" %>
      <%= f.text_area :note, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :作業終了予定日, class: "text-white" %>
      <%= f.date_field :op_expection, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :優先度, class: "text-white" %>
      <%= f.select :priority, Task.priorities_i18n.invert, {}, class: 'form-control' %>
    </div>

    <%= f.submit "修正", class: "btn-block btn-white" %>
    <% end %>
    <%= button_to '一覧', tasks_index_path,method: :get %>
