<p>検索</p>
<%= form_tag tasks_path, :method => 'get' do %>
  <%= label_tag :title %>
  <%= text_field_tag :title , params[:title] %>
  <%= label_tag :op_started, "作業開始日" %>
  <%= date_field_tag :op_started , params[:op_started] %>
  <%= label_tag :op_expection, "作業終了予定日" %>
  <%= date_field_tag :op_expection , params[:op_expection] %>
  <%= label_tag :priority, "優先度" %>
  <%= select_tag :priority , options_for_select(Task.priorities_i18n.invert, {}), include_blank: true %>
  <%= label_tag :status, "ステータス" %>
  <%= select_tag :status , options_for_select(Task.statuses_i18n.invert, {}), include_blank: true %>
  <%= submit_tag 'Search', :title => nil %>
<% end %>

<table>

<caption>TODO index</caption>
<thead>
<tr>
  <th>No.</th>
  <th><%= sortable "title", "title" %></th>
  <th><%= sortable "note", "note" %></th>
  <th><%= sortable "op_expection", "作業終了予定日" %></th>
  <th><%= sortable "op_started", "作業開始日" %></th>
  <th><%= sortable "op_finished", "作業終了日" %></th>
  <th><%= sortable "priority", "優先度" %></th>
  <th><%= sortable "status", "ステータス" %></th>
  <th>編集</th>
  <th>削除</th>
  </tr>
  </thead>
<% @tasks.each_with_index do |task,i|%>
<tbody>
  <tr>
  <td><%= i+1 %></td>
  <td><%= task.title %></td>
  <td><%= task.note %></td>
  <td><%= task.op_expection %></td>

  <% if task.untouched? %>
    <td><%= button_to "開始" ,tasks_start_path(id: task.id), method: :patch %></td>
  <% else %>
    <td><%= task.op_started %></td>
  <% end %>

  <% if task.operating? %>
    <td><%= button_to "終了" ,tasks_finished_path(id: task.id), method: :patch %></td>
  <% else %>
    <td><%= task.op_finished %></td>
  <% end %>

  <% if task.high? %>
    <td><%= "高" %></td>
  <% else %>
    <td><%= "低" %></td>
  <% end %>

  <% if task.untouched? %>
    <td><%= "未着手" %></td>
  <% elsif task.operating? %>
    <td><%= "処理中" %></td>
  <% else %>
    <td><%= "完成" %></td>
  <% end %>

  <td><%= button_to "編集" ,edit_task_path(id: task.id),method: :get %></td>
  <td><%= button_to "削除" ,task_path(id: task.id),method: :delete, data:{confirm:"本当に削除しますか？"} %></td>
</tr>
</tbody>
<% end %>
</table>
<%= button_to '新規作成', new_task_path,method: :get %>
