<table>

<caption>TODO index</caption>
<thead>
<tr>
  <th>No.</th>
  <th>title</th>
  <th>note</th>
  <th>作業終了予定日</th>
  <th>作業開始日</th>
  <th>作業終了日</th>
  <th>優先度</th>
  <th>ステータス</th>
  <th>編集</th>
  <th>削除</th>
  </tr>
  </thead>
<% current_user.tasks.each do |task|%>
<tbody>
  <tr>
  <td><%= task.id %></td>
  <td><%= task.title %></td>
  <td><%= task.note %></td>
  <td><%= task.op_expection %></td>

  <% if task.untouched? %>
    <td><%= button_to "開始" ,tasks_start_path(id: task.id), method: :patch %></td>
  <% else %>
    <td><%= task.op_started %></td>
  <% end %>

  <% if task.operating? %>
    <td><%= button_to "終了" ,tasks_finished_path(id: task.id), method: :patch %></td>
  <% else %>
    <td><%= task.op_finished %></td>
  <% end %>

  <td><%= task.priority %></td>

  <% if task.untouched? %>
    <td><%= "未着手" %></td>
  <% elsif task.operating? %>
    <td><%= "処理中" %></td>
  <% else %>
    <td><%= "完成" %></td>
  <% end %>

  <td><%= button_to "編集" ,edit_task_path(id: task.id),method: :get %></td>
  <td><%= button_to "削除" ,task_path(id: task.id),method: :delete, data:{confirm:"本当に削除しますか？"} %></td>
</tr>
</tbody>
<% end %>
</table>
<%= button_to '新規作成', new_task_path,method: :get %>
