<%= form_with(model: user, local: true) do |form| %>

  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-2">
        <%= form.label :username%>
        <%= form.text_field :username,class:"text-wide" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-4 col-md-2">
      <%= form.label :email %>
      <%= form.text_field :email,class:"text-wide"  %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-offset-4 col-md-2">
      <%= form.label :password %>
      <%= form.password_field :password,class:"text-wide"  %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-4 col-md-2">
      <%= form.submit%>
      </div>
    </div>
  </div>
<% end %>
