<table>

<caption>daily index</caption>
<thead>
<tr>
  <th>No.</th>
  <th>日付</th>
  <th>企業名</th>
  <th>場所</th>
  <th>状況</th>
  <th>見込み</th>
  <th>コメント</th>
  <th>削除</th>
  </tr>
  </thead>
<% @dailies.each do |daily|%>
<tbody>
  <tr>
  <td><%= daily.id %></td>
  <td><%= daily.date %></td>
  <td><%= daily.companyName %></td>

  <% if daily.customer? %>
    <td><%= "客先" %></td>
  <% else %>
    <td><%= "来客" %></td>
  <% end %>

  <% if daily.proposal? %>
    <td><%= "提案中" %></td>
  <% else %>
    <td><%= "受注" %></td>
  <% end %>

  <% if daily.a? %>
    <td><%= "A" %></td>
  <% elsif daily.b? %>
    <td><%= "B" %></td>
  <% elsif daily.c? %>
    <td><%= "C" %></td>
  <% else %>
    <td><%= "D" %></td>
  <% end %>

  <td><%= daily.comment %></td>
  <td><%= button_to "削除",daily_path(id: daily.id),method: :delete, data:{confirm:"本当に削除しますか？"}  %></td>
</tr>
</tbody>
<% end %>
</table>
<%= button_to '新規作成', new_daily_path,method: :get %>
